<div class="container">
	<h1 class="custom-h1">WELCOME TO <span id="lib">LIBRARY</span> MINDSET</h1>
</div>
<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
	<div class="carousel-inner">
		<div class="carousel-item active" data-mdb-interval="10000">
			<img src="/images/slide7.jpg" class="d-block w-100" alt="Wild Landscape" height="487px" />
		</div>
		<div class="carousel-item" data-mdb-interval="2000">
			<img src="/images/slide3.jpg" class="d-block w-100" alt="Camera" height="487px" />
		</div>

		<div class="carousel-item">
			<img src="/images/slide5.jpg" class="d-block w-100" alt="Exotic Fruits" height="487px" />
		</div>
		<div class="carousel-item">
			<img src="/images/slide8.jpg" class="d-block w-100" alt="Exotic Fruits" height="487px" />
		</div>
	</div>
	<button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button"
		data-mdb-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button"
		data-mdb-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class="container text-center my-3">
	<marquee style="color: burlywood" direction="scroll" bgcolor="white">
		<!-- scorlldelay is used to reduce the speed -->
		One must always be careful of books, and what is inside them, for words have the power to change us.
	</marquee>
	
	<h6>"Library Mindset" is a comprehensive website dedicated to providing users with rich and diverse information
		about books. This platform serves as a virtual library, offering a wide array of resources and insights to
		cater to the needs of book enthusiasts, students, educators, and researchers alike.

		At the core of "Library Mindset" lies a vast collection of book summaries, reviews, and analyses spanning
		various genres, subjects, and authors. Users can explore succinct yet informative summaries of both classic
		and contemporary literature, gaining valuable insights into plotlines, characters, themes, and key
		takeaways.
	</h6>

	<div>
		Beyond serving as a repository of textual knowledge, "Library Mindset" embraces multimedia elements to
		enhance
		user engagement. From author interviews and podcast discussions to video book summaries and educational
		webinars, the platform leverages diverse mediums to cater to varying learning preferences and interests.

		In essence, "Library Mindset" transcends the traditional boundaries of a static book repository, evolving
		into a
		dynamic online ecosystem that celebrates the art of reading, encourages intellectual exploration, and
		fosters a
		sense of community among bibliophiles worldwide. Whether seeking literary inspiration, academic resources,
		or
		simply a platform to connect with fellow book lovers, users can find their literary sanctuary within the
		digital
		realm of "Library Mindset."

	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<img src="/images/book2.jpg" width="250px" height="300px" alt="book" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img src="/images/book3.jpg" width="250px" height="300px" alt="book" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img src="/images/book6.jpg" width="250px" height="300px" alt="book" />

				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img src="/images/book4.jpg" width="260px" height="300px" alt="book" />

				</div>
			</div>
		</div>
	</div>

</div>