<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bootstrap Card Example</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.center {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50vh;
		}
	</style>
</head>

<body>

	<div class="container top">
		<div class="row center">
			<div class="col-md-6">
				<div class="card text-center">
					<div class="card-body">
						<h1 class="card-title">Please Enter Valid Email</h1>
						<p class="card-text">Incorrect email</p>
						<a href="forgetPass" class="btn btn-primary">Back to Forget Password</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>