<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Users Profile</title>

	<link href="/css/mdb.min.css" rel="stylesheet">

	<!-- Online links -->
	<script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

</head>

<body>
	<div th:replace="fragments/adminnavbar"></div>

	<div class="container my-5 col-md-6">
		<table class="table  table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Deparment</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u :${users}">
					<td th:text="${u.id}"></td>
					<td th:text="${u.name}"></td>
					<td th:text="${u.department}"></td>

				</tr>
			</tbody>
		</table>
	</div>

	<div th:replace="fragments/footer"></div>

	<script src="/js/mdb.umd.min.js"></script>
	<script src="/js/all.min.js"></script>

</body>

</html>